<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
    form {
      width: 300px;
      margin: auto;
    }
    input {
      width: 100%;
      padding: 8px;
      margin: 8px 0;
    }
  </style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q29L38MXC3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q29L38MXC3');
</script>
</head>
<body>
  <h2 style="text-align:center">Login</h2>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </form>
  <p style="text-align:center;"><a href="/">New user? Register here</a></p>
</body>
</html>
